@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Tiro+Gurmukhi&display=swap");
@import url("https://fon ts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: justify;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Roboto Condensed", sans-serif;
}
ul {
  padding: 0px 0px 0px 20px;
}
ul li {
  margin: 10px 0px 30px 0px;
  padding: 5px 0px;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.container {
  width: 100%;
  min-height: 140vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.my-header {
  width: 100%;
  min-height: 12vh;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 a {
  color: white;
  font-size: 1.25rem;
  text-shadow: 0 0 2px #ffffffcb;
}
.menu {
  width: 50%;
  align-items: center;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
}
.menu-list {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu-link {
  margin: 0px 10px;
  padding: 0px 5px;
  color: white;
  text-shadow: 0 0 1px #ffffffcb;
}

.main {
  width: 100%;
  min-height: 150vh;
  display: flex;
  flex-direction: row;
}
.main:nth-last-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left {
  width: 35%;
  min-height: 100vh;
  display: flex;
  font-size: 1.2rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 1.6rem;
  padding: 100px 30px 30px;
}
.right {
  width: 65%;
}

.text-2,
.text-3 {
  padding: 5px 0px;
  margin: 5px 0px;
}
.thesis-link {
  text-decoration: none;
  cursor: pointer;
}

.text-1 {
  margin: 10px 0px 10px 0px;
  padding: 5px 0px;
}
.text-4 {
  margin: 10px 0px 30px 0px;
  padding: 5px 0px;
}
.shadow {
  /* background: #ffffffc4; */
  background: #ffffffc4;
  padding: 15px 25px 5px 15px;
  min-height: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: justify;
}
.shadow ul {
  list-style-type: none;
}
.shadow ul li {
  margin: 5px 0px 10px 0px;
}

h2 {
  font-weight: bold;
  margin-top: 15px;
}

@media only screen and (max-width: 1400px) and (min-width: 1100px) {
  .left,
  .right {
    margin-left: 150px;
  }
}
@media only screen and (min-width: 1400px) {
  .left {
    margin-top: 160px;
  }
}

@media only screen and (min-width: 1100px) {
  .shadow {
    position: absolute;
    width: 60%;
    margin-right: -300px;
    margin-left: 40px;
  }
  .text-2,
  .text-3,
  .text-4,
  .text-1 {
    padding: 0px 15px;
  }
  .main {
    min-height: 130vh;
  }
  .container {
    min-height: 110vh;
  }
}

@media only screen and (max-width: 1099px) {
  .container {
    min-height: 200vh;
  }
  .text-1,
  .text-2,
  .text-3 {
    margin: 0px 0px 5px 0px;
    line-height: 25px;
  }

  .main {
    width: 100%;
    min-height: 130vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .left {
    width: 90%;
    min-height: 90vh;
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
  }
  .right {
    width: 90%;
    min-height: 30vh;
  }

  .shadow {
    padding: 20px 10px 10px 10px;
    min-height: 50vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.76);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
  }
  .shadow ul {
    padding: 0px 0px 0px 8px;
  }
}

.footer {
  width: 100%;
  min-height: 300px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.mail {
  padding: 15px 15px;
  color: white;
  font-size: 1.3rem;
  text-shadow: 0 0 1px #ffffffcb;
}

.underline-for-email {
  text-decoration: underline;
}

.horizontal-line-container {
  width: 100%;
  padding: 8px 0 10px;
  display: flex;
  justify-content: center;
}

.horizontal-line {
  width: 95%;
  height: 2px;
  border-radius: 2px;
  background-color: rgba(114, 114, 114, 0.8);
}
